.input-container {
    transition: 0.2s all ease-in;
    div {
    
     
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    
  
      input[type="radio"]:checked + .checkbox {
        background-color: #e2001a;
      }
  
      .checkbox {
        min-width: 20px;
        max-width: 20px;
        height: 20px;
        background-color: rgb(240, 230, 230);
        margin: 0;
        border-radius: 4px 0;
      }
    }
  }
  