input:not([type="radio"]) {
  margin: 0 !important;  
 
  border-radius: 16px 0;
  outline: none;
  border: none;
  padding: 16px;
  flex: 1;
  transition: 0.2s all ease-in;
}

input:not([type="radio"]):hover {
  box-shadow: 2px 2px 8px rgba(235, 80, 80, 0.6);
}
