button {
  margin: 48px 0 8px;
  font-size: 24px;
  background-color: #e50017;
  padding: 8px 32px;
  border: none;
  outline: none;
  border-radius: 16px 0;
  box-shadow: 4px 6px 4px rgb(0 0 0 / 20%);
  cursor: pointer;
  color: #FFF;
  font-weight: 600;
}
