h1 {
  color: #e2001a;  
  font-weight: bold; 
  margin-top: 5vh; 
}
h3 {
  color: #e2001a;    
  font-weight: bold; 
}


//div que contem imagem e txto e o footer
.form-container {
  background-color: #fff;
  justify-content: space-evenly;
  color: #e2001a;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold; 
  line-height: 70%;
  display: flex;
  flex-direction: column;

  
  min-width: 50%;
  max-width: 90%;
 
  margin-bottom: 40px;

  padding: 10px;
  
}


//texto header
.form-header {
  text-align: center;
  justify-content: center;
  color: #606060;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold; 
  line-height: 70%;
}



//div que contem as questoes e o botão a parte
form {

  text-align: center;
  // justify-content: center;
  background-color: #fff;
  color: #252b04;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 8vh;
}

.t5{
  margin-top: 5vh;
}


label.input-label{
float: left;
margin-right: 10px;
line-height: 50px;
min-width: 80px;
text-align: right;
}

//div questoes
.form-input-container {   
  background-color: #f8f8f8; 
  color: #606060;    
  justify-content: center; 
  padding: 50px;
  font-size: 16px;
  width: 100%;
}

.inputs-container div{
  line-height: 25px;
}

.form-input-container:nth-child(7) .inputs-container{
  padding-top: 12px;
  padding-left: 10px;
  width: 290px;
}

.form-input-container:nth-child(7) .inputs-container div{
  flex: auto;
}

.inputs-container label{
  padding-left: 10px;
}

